<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head"></head>

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles-dnd.css" th:href="@{/css/styles-dnd.css}" media="screen">
    <script th:src="@{/js/dnd-item-hover.js}"></script>
    <script th:src="@{/js/dnd-inventory.js}"></script>
</head>

<body>
    <div th:include="fragments/body :: headline"></div>

    <div th:include="fragments/character-fragment :: characterCard(${char1}, ${playerInventory1}, ${playerAttributes1})"></div>
    <div th:include="fragments/character-fragment :: characterCard(${char2}, ${playerInventory2}, ${playerAttributes2})"></div>
    <div th:include="fragments/character-fragment :: characterCard(${char3}, ${playerInventory3}, ${playerAttributes3})"></div>

    <div id="item-tooltip" class="item-tooltip" style="display: none;">
        <!-- Tooltip-Inhalte werden per AJAX hier eingefügt -->
    </div>
</body>

</html>